h3 投影演示
    button.btn.btn-default(type="button",(click)="showdemo1=!showdemo1") 打开/关闭 
app-content-demo-parent(*ngIf="showdemo1")
hr
h3 多投影点演示
    button.btn.btn-default(type="button",(click)="showdemo2=!showdemo2") 打开/关闭 
app-content-muti-demo-parent(*ngIf="showdemo2")
hr