
<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title">生命周期演示</h3>
  </div>
  <div class="panel-body">
    <div>
      <button type="button" [hidden]="hasChild" (click)="createChild()" class="btn btn-success">创建组件</button>&nbsp;
      <button type="button" [hidden]="!hasChild" (click)="delChild()" class="btn btn-danger">销毁组件</button>&nbsp;
      <button type="button" [hidden]="!hasChild" (click)="updateChildValue()" class="btn btn-primary">更新属性</button>
    </div>
    <hr/>
    <app-lifecycle-demo-child [value]="childValue" *ngIf="hasChild"></app-lifecycle-demo-child>
  </div>
</div>