.panel.panel-success
  .panel-heading
    h3.panel-title 我是父组件:HookOnChangesDemoParentComponent
  .panel-body
    div
      | 简单值(quantity):
      input(type="number",placeholder="请输入数量",[(ngModel)]="quantity")
    div
      | 对象属性(user.name):
      input(type="text",placeholder="请输入用户姓名",[(ngModel)]="user.name")
    p
      button.btn.btn-success(type="button",[hidden]="hasChild",(click)="createChild()") 创建组件
    hr
    app-hook-on-changes-demo-child([user]="user",[quantity]="quantity",*ngIf="hasChild")
